<div id="div-rpt-filtro-7" #rpt_inv_filtro2>

    <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-1">
                        <div class="form-group">
                            <div class="form-time-picker">
                                <igx-date-picker #datepiker formControlName="txtFecha1" id="txtFecha1"
                                    [inputFormat]="'dd/MM/yyyy'">
                                    <label igxLabel>Desde</label>
        
                                    <igx-picker-toggle igxPrefix>
                                        <igx-icon igxPrefix><i class="bi bi-calendar primario"></i></igx-icon>
                                    </igx-picker-toggle>
        
                                    <igx-picker-clear igxSuffix>
                                        <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                                    </igx-picker-clear>
        
                                </igx-date-picker>
                            </div>
                        </div>
                    </div>

                
    
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-1">
                        <div class="form-group">
                            <div class="form-time-picker">
                                <igx-date-picker #datepiker2 formControlName="txtFecha2" id="txtFecha2"
                                    [inputFormat]="'dd/MM/yyyy'">
                                    <label igxLabel>Hasta</label>
        
                                    <igx-picker-toggle igxPrefix>
                                        <igx-icon igxPrefix><i class="bi bi-calendar primario"></i></igx-icon>
                                    </igx-picker-toggle>
        
                                    <igx-picker-clear igxSuffix>
                                        <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                                    </igx-picker-clear>
        
                                </igx-date-picker>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 mb-1">
    
                        <igx-combo class="ComboBodega" #cmbBodega [data]="lstBodega" valueKey="Codigo" displayKey="Key" id="cmbBodega"
                            formControlName="cmbBodega" placeholder="Seleccione una Bodega."
                            searchPlaceholder="Seleccione una bodega..." [autoFocusSearch]="true"
                            [overlaySettings]="overlaySettings"
                            (selectionChanging)="V_Select_Bodega($event)" (keyup)="V_Enter_Bodega($event);">
                            <label igxLabel>Bodega</label>
                            <igx-prefix><i class="bi bi-shop"></i></igx-prefix>
    
                            <ng-template igxComboClearIcon>
                                <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                            </ng-template>
                        </igx-combo>
    
                    </div>
                    <div class="col-12 mb-1">
                        <igx-card  *ngFor="let bo of BodSeleccionadas">
                            <igx-card-header class="card-header">
                                <p igxCardHeaderTitle class="card-titulo">{{ bo.Codigo }}</p>
                                {{ bo.Bodega }}
                            </igx-card-header>
                        </igx-card>
                    </div>
                     
                </div>

            
    
    
            </div>
    
       
        </div>

   
    </form>

</div>

