@import "/src/assets/scss/media.scss";

#txtObservaciones {
  height: 100px;
}

.btn-liberar-inventario {
  width: 100%;
  height: 100%;
}

.btn-contenedor {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  button {
    margin-right: 5px;
  }


  .bonotnes-ediccion {
    text-align: right;
  }


  @include Tamano(xs) {
    button {
      display: block;
      width: 100%;
    }

    .boton-refrescar,
    .bonotnes-ediccion {
      width: 100%;
    }

  }

  @include Tamano(lg) {
    button {
      display: initial;
      width: auto;
    }
  }
}

@include Tamano_Menor(md) {

  .btn-contenedor {

    display: block;
  }

}

table{
  margin-bottom: 200px;
}

.fecha,
.btn-contenedor-ediccion-tabla {
  text-align: right;
}



mat-paginator{
  margin-bottom: 0px;
}


.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;

}


@include Tamano_Menor(sm) {


  .mat-paginator-sticky {
    bottom: 72px;

  }

}



.combo-etiqueta{

  font-size: 0.8em;

  &-part{
    color: #A52A2A;
    
  }
  
  &-prov{
    color: var(--escan-primario);
  }

  
}

.contenedor-prov{
  display: flex;
  flex-direction: row;

  
  div:first-child{
    width: 20%;
  }
  div:last-child{
    width: 80%;
  }
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}




//████████████████████████████████████████████PIE████████████████████████████████████████████████████████████████████████

.contenedor-pie {
  position: relative;
}

.pie-liberacion-precio {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  padding: 10px;


}
