<div id="div-rpt-filtro-3">

    <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 mb-1">
                <div class="form-group">
                    <div class="form-time-picker">
                        <igx-date-picker #datepiker formControlName="txtFecha1" id="txtFecha1"
                            [inputFormat]="'dd/MM/yyyy'">
                            <label igxLabel>Desde</label>

                            <igx-picker-toggle igxPrefix>
                                <igx-icon igxPrefix><i class="bi bi-calendar primario"></i></igx-icon>
                            </igx-picker-toggle>

                            <igx-picker-clear igxSuffix>
                                <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                            </igx-picker-clear>

                        </igx-date-picker>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 mb-1">
                <div class="form-group">
                    <div class="form-time-picker">
                        <igx-date-picker #datepiker2 formControlName="txtFecha2" id="txtFecha2"
                            [inputFormat]="'dd/MM/yyyy'">
                            <label igxLabel>Desde</label>

                            <igx-picker-toggle igxPrefix>
                                <igx-icon igxPrefix><i class="bi bi-calendar primario"></i></igx-icon>
                            </igx-picker-toggle>

                            <igx-picker-clear igxSuffix>
                                <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                            </igx-picker-clear>

                        </igx-date-picker>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-1">

                <igx-combo class="ComboSerie" #cmbSerie [data]="lstSerie" valueKey="IdSerie" displayKey="IdSerie"
                    id="cmbSerie" formControlName="cmbSerie" placeholder="Seleccione una Serie."
                    searchPlaceholder="Seleccione una Serie..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings" (selectionChanging)="V_Select_Serie($event)"
                    (keyup)="V_Enter_Serie($event);">
                    <label igxLabel>Serie</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>
                    <ng-template igxComboClearIcon>
                        <igx-icon><i class="fa-solid fa-eraser"></i></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>
        </div>


    </form>

</div>