.ComboBodega {

  background-color: var(--escan-primario);

  i,
  label {
    color: white;
  }
}

.cmbTipoMov {

  background-color: var(--escan-opcional);

  i,
  label{
    color: white;
  }

  

}




::ng-deep {



  .ComboBodega.igx-combo ::placeholder {
    color: white;
  }

  .ComboBodega.igx-combo:hover ::placeholder {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
  }

  .ComboBodega .igx-input-group__input:focus,
  .ComboBodega .igx-input-group__input,
  .ComboBodega .igx-icon{
        color: white ;
    }



  .cmbTipoMov .igx-input-group__input {
    color: white;
  }


  .cmbTipoMov.igx-combo ::placeholder {
    color: white;
  }

  .cmbTipoMov.igx-combo:hover ::placeholder {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
  }

  .cmbTipoMov .igx-input-group__input:focus,
  .cmbTipoMov .igx-input-group__input,
  .cmbTipoMov .igx-icon{
        color: white ;
    }


}






//PRODUCTO
.combo-etiqueta {

  font-size: 0.8em;

  &-part {
    color: #A52A2A;

  }

  &-prov {
    color: var(--escan-primario);
  }


}



.contenedor-prov {
  display: flex;
  flex-direction: row;


  div:first-child {
    width: 20%;
  }

  div:last-child {
    width: 80%;
  }
}

.right {
  text-align: right;
}


.left {
  text-align: left;
}



.card-header {
  font-size: 0.8em;
}

.card-titulo {
  font-size: 1.2em;
  font-weight: bold;
}