<div class="contenedor">




    <div class="card">
        <div class="card-header">
            <h4>Ventas Por Linea De Negocio</h4>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-5 col-xxl-4  mb-1">
                    <app-reporte-inventario-filtro-1 #Filtro1></app-reporte-inventario-filtro-1>

                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2 mb-1">
                    <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                            <div class="form-floating">
                                
                                    <select class="form-select form-select-lg" aria-label="Tipo Reporte" id="cmbTipo"
                                    formControlName="cmbTipo"
                                    (change)="V_Select_Tipo($event)">
                                    <option value="G">Famila</option>
                                    <option value="SG">Sub Familia</option>
                                    <option value="P">Grupo Presupuestario</option>
                                </select>
                               
                                
                                <label for="cmbTipo">Tipo Reporte</label>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 col-xxl-6 mb-1">
                    <app-reporte-venta-filtro-1 #Filtro2></app-reporte-venta-filtro-1>
                </div>
            </div>


        </div>

        <div class="card-footer">
            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 col-xxl-6 mb-1">
                    <div class="contenedor-boton">

                        <button type="button" class="btn btn-primario" id="btnImprimir-Reporte-venta-linea-por-negocio"
                            (click)="V_Imprimir(false);"><i class="fa-solid fa-file-pdf fa-beat-fade fa-xl"></i>
                            Imprimir</button>

                        <button type="button" class="btn btn-opcional" id="btnImprimir-Reporte-venta-linea-por-negocio"
                            (click)="V_Imprimir(true);"><i class="fa-solid fa-file-excel fa-beat-fade fa-xl"></i>
                            Exportar</button>




                    </div>
                </div>

            </div>
        </div>
    </div>









</div>