<div class="row">


    <ng-container *ngIf="FIltro_1">
        <div class="col-6">
            <app-reporte-inventario-filtro-1></app-reporte-inventario-filtro-1>
        </div>
    </ng-container>


    <ng-container *ngIf="FIltro_2">
        <div class="col-6">
            <app-reporte-inventario-filtro-2></app-reporte-inventario-filtro-2>
        </div>
    </ng-container>

    <ng-container *ngIf="FIltro_3">
        <div class="col-6">
            <app-reporte-inventario-filtro-3></app-reporte-inventario-filtro-3>
        </div>
    </ng-container>


    
    <ng-container *ngIf="FIltro_4">
        <div class="col-6">
            <app-reporte-inventario-filtro-4></app-reporte-inventario-filtro-4>
        </div>
    </ng-container>

    <div class="col-6">
       
    </div>
      
    <ng-container *ngIf="FIltro_5">
        <div class="col-6">
            <app-reporte-inventario-filtro-5></app-reporte-inventario-filtro-5>
        </div>
    </ng-container>

</div>
