.cmbTipoMov {

    background-color: var(--escan-opcional);
  
    i,
    label{
      color: white;
    }

    
  
  }

 

  
  ::ng-deep {
  
  
    .cmbTipoMov .igx-input-group__input {
        color: white;
    }
 
    
    .cmbTipoMov.igx-combo ::placeholder {
      color: white;
    }
  
    .cmbTipoMov.igx-combo:hover ::placeholder {
      font-size: 1.1em;
      font-weight: bold;
      color: white;
    }
  
    .cmbTipoMov .igx-input-group__input:focus,
    .cmbTipoMov .igx-input-group__input,
    .cmbTipoMov .igx-icon{
          color: white ;
      }
    
    
  }