@import "/src/assets/scss/media.scss";





.bold {
    font-weight: bold;
}


.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.margin-right {
    margin-right: 10px;
}

.contenedor-tabla {
    height: 216px;
}

//████████████████████████████████████████████TABLA████████████████████████████████████████████████████████████████████████



.tabla-lote {
    width: 100%;
}

.header-linea {
    display: none;
}

.numero {
    text-align: right;
}

.tabla-producto.tr:first-child {
    border-top: 2px solid var(--escan-secundario);

}



.btn-contenedor-custom {
    display: flex;
    justify-content: flex-end;
}


.bonif {
    color: var(--escan-primario);
    font-weight: bold;
}


.mobile-col-lote-etiqueta {
    display: none;
}

.ocultar {
    display: none;
}

.tr-lote-primario {
    border-top: 1px solid var(--escan-primario);
}

.tr-lote-secundario {
    border-top: 1px dashed var(--escan-secundario);
}


.combo-header
.combo-footer {
    text-align: center;
    padding: 4px;
}

.header-etiqueta,
.header-valor{
    font-size: 1.5em;
}


.header-etiqueta{
    color: black;
}

.header-valor{
    color: var(--escan-secundario);
}



.combo-item{
    margin-bottom: 1px dashed var(--escan-secundario);
}


.como-valor-existencia{
    text-align: right;
}


@include Tamano_Menor(md) {


    .right {
        text-align: left;
    }


    .mobile-col {
        display: block;
    }

    .header-linea {
        display: initial;
    }


    .tabla-lote {
        thead {
            display: none;
        }
    }

    .mobile-col-lote-etiqueta {
        display: inline;
    }



}