@import "/src/assets/scss/media.scss";





.bold {
    font-weight: bold;
}


.left{
    text-align: left;
}
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.margin-right {
    margin-right: 10px;
}

.contenedor-tabla {
    height: 216px;
}

//████████████████████████████████████████████TABLA████████████████████████████████████████████████████████████████████████



.tabla-lote{
    width: 100%;
}
.header-linea{
    display: none;
}

.numero {
    text-align: right;
}

.tabla-producto.tr:first-child {
    border-top: 2px solid var(--escan-secundario);

}



.btn-contenedor-custom {
    display: flex;
    justify-content: flex-end;
}


.bonif {
    color: var(--escan-primario);
    font-weight: bold;
}


.mobile-col-lote-etiqueta{
    display: none;
}


@include Tamano_Menor(md) {

    
    .right {
        text-align: left;
    }
    

    .mobile-col {
        display: block;
    }
    
    .header-linea{
        display: initial;
    }


    .tabla-lote{
        thead{
            display: none;
        }
    }

    .mobile-col-lote-etiqueta {
        display: inline;
    }



}