<div id="div-tabla-lote">
    <div class="escasan-dialog">
      <div class="btn-contenedor">
        <button class="close-button custom-cerrar" [mat-dialog-close]="true">
          <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
      </div>
  
  
      <h1 mat-dialog-title>LOTIFICACIÓN DE PRODUCTOS</h1>
  
      <div mat-dialog-content>




        <div class="row escan-table">
         


            <div class="mat-elevation-z8">
                <table class="table table-hover tabla-producto  table-sm tabla-layout mat-elevation-z8" mat-table [dataSource]="lstDetalle">
        
        
        
                    <ng-container matColumnDef="col1">
                        <td mat-cell *matCellDef="let det">

                            <div class="row">
        
                                <div class="col-6 com-sm-6 col-md-6 col-lg-3">


                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span ><b>Código </b></span>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class=" {{det.EsBonif || det.EsBonifLibre ? 'bonif' : ''}}">{{det.Codigo}}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span ><b>Producto </b></span>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span class=" {{det.EsBonif || det.EsBonifLibre ? 'bonif' : ''}}">{{det.Producto}}</span>
                                        </div>
                                        
                                    </div>

                       

                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span ><b>Facturado </b></span>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span >{{ cFunciones.NumFormat(det.Cantidad, "2")}} <span *ngIf="det.EsBonif" class="bonif">BO{{det.EsBonifLibre ? '-L' : ''}}</span></span>
                                        </div>
                                       
                                    </div>


                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span ><b>Lotificado </b></span>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <span >{{ cFunciones.NumFormat(det.Lotificado, "2")}}</span>
                                        </div>
                                        
                                    </div>
        
                                </div>

                                <div class="col-6 com-sm-6 col-md-6 col-lg-9">

                                    <table class="table table-hover table-sm tabla-lote">
                                        <thead>
                                            <tr class="row linea header-table">
                                                <th scope="col" class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 left">Ubicacion</div>
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 left">Lote</div>
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 left">Vence</div>
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 right"> <span class="margin-right">Cantidad</span></div>
                                                    </div>
                                                   
                                                </th>
                                            </tr>
                                           
                                        </thead>
                                        <tbody *ngFor="let l of FiltrarLote(det.Index)">
                    
                                            <tr class="header-linea">
                                                <div class="linea"></div>
                                            </tr>

                                            <tr class="row">
                                                <td class="col-12">
                                                    <div class="row mobile-col">
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3"><span><b class="mobile-col-lote-etiqueta">U:</b></span><span>{{l.Ubicacion}}</span></div>
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3"><span><span><b class="mobile-col-lote-etiqueta">L:</b></span>{{l.NoLote}}</span></div>
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3"><span><span><b class="mobile-col-lote-etiqueta">V:</b></span>{{l.Vence| date: 'dd/MM/yyyy'}}</span></div>
                                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 right"><span class="margin-right"><span><b class="mobile-col-lote-etiqueta">C:</b></span>{{ cFunciones.NumFormat(l.Cantidad, "2")}}</span></div>
                                                    </div>

                                      
                                                </td>

                                            </tr>
                    

                                        </tbody>
                                    </table>

                                </div>

        
                            </div>
        
        
                        </td>
                    </ng-container>
        
        
        
        
        
        
        
        
        
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="linea-bottom-secundario dashed"></tr>
        
        
                </table>
   
            </div>



        </div>
  
      </div>
      <div mat-dialog-actions class="btn-contenedor">
        <button type="button" class="btn btn-secundario" (click)="dialogRef.close();" cdkFocusInitial>Cerrar</button>
      </div>
    </div>
  
  </div>
  
