<div id="div-rpt-filtro-4">

    <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">

        <div class="row">
            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbPresupuesto [data]="lstGrupoPre" valueKey="IdGrupoPresupuestario" displayKey="Key" id="cmbPresupuesto"
                    formControlName="cmbPresupuesto" placeholder="Seleccione un Grupo..."
                    searchPlaceholder="Seleccione un Grupo..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_Presupuesto($event)" (keyup)="V_Enter_Presupuesto($event);">
                    <label igxLabel>Grupo Presupuesto</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>
          
                    <ng-template igxComboClearIcon>
                        <igx-icon (click)="V_Limpiar_Item('cmbPresupuesto');"><i class="fa-solid fa-eraser"></i></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>

            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbProveedor [data]="lstProveedor" valueKey="Codigo" displayKey="Key" id="cmbProveedor"
                    formControlName="cmbProveedor" placeholder="Seleccione una Proveedor."
                    searchPlaceholder="Seleccione un Proveedor..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_Proveedor($event)" (keyup)="V_Enter_Proveedor($event);">
                    <label igxLabel>Proveedor</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>

                    <ng-template igxComboClearIcon>
                        <igx-icon (click)="V_Limpiar_Item('cmbProveedor');"><i class="fa-solid fa-eraser"></i></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>

            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbFamilia [data]="lstFamilia" valueKey="IdGrupo" displayKey="Key" id="cmbFamilia"
                    formControlName="cmbFamilia" placeholder="Seleccione una Familia."
                    searchPlaceholder="Seleccione una Familia..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_Familia($event)" (keyup)="V_Enter_Familia($event);">
                    <label igxLabel>Familia</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>

                    <ng-template igxComboClearIcon>
                        <igx-icon (click)="V_Limpiar_Item('cmbFamilia');"><i class="fa-solid fa-eraser"></i></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>


            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbSubFamilia [data]="lstSubFamilia" valueKey="IdSubGrupo" displayKey="Key" id="cmbSubFamilia"
                    formControlName="cmbSubFamilia" placeholder="Seleccione una Sub Familia."
                    searchPlaceholder="Seleccione una Sub Familia..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_SubFamilia($event)" (keyup)="V_Enter_SubFamilia($event);">
                    <label igxLabel>Sub Familia</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>

                    <ng-template igxComboClearIcon>
                        <igx-icon (click)="V_Limpiar_Item('cmbSubFamilia');"><i class="fa-solid fa-eraser"></i></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-1">
                <div class="check">
                    <input type="checkbox" class="btn-check btn-negativo" id="btn-check-negativo" formControlName="btn-check-negativo" autocomplete="off" [(ngModel)]="Negativo">
                    <label class="btn btn-outline-primary btn-negativo-outline" for="btn-check-negativo">Negativos</label>
                </div>
                
            </div>
        </div>

    </form>

</div>

