<div class="div-rpt-filtro-4">

    <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">

        <div class="row">
            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbPresupuesto [data]="lstGrupo" valueKey="Codigo" displayKey="Codigo" id="cmbPresupuesto"
                    formControlName="cmbPresupuesto" placeholder="Seleccione un Grupo..."
                    searchPlaceholder="Seleccione un Grupo..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_Presupuesto($event)" (keyup)="V_Enter_Presupuesto($event);">
                    <label igxLabel>Grupo Presupuesto</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>

                    <ng-template igxComboClearIcon>
                        <igx-icon></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>

            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbProveedor [data]="lstProveedor" valueKey="Codigo" displayKey="Codigo" id="cmbProveedor"
                    formControlName="cmbProveedor" placeholder="Seleccione una Proveedor."
                    searchPlaceholder="Seleccione un Proveedor..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_Proveedor($event)" (keyup)="V_Enter_Proveedor($event);">
                    <label igxLabel>Proveedor</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>

                    <ng-template igxComboClearIcon>
                        <igx-icon></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>

            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbFamilia [data]="lstFamilia" valueKey="Codigo" displayKey="Codigo" id="cmbFamilia"
                    formControlName="cmbFamilia" placeholder="Seleccione una Familia."
                    searchPlaceholder="Seleccione una Familia..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_Familia($event)" (keyup)="V_Enter_Familia($event);">
                    <label igxLabel>Familia</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>

                    <ng-template igxComboClearIcon>
                        <igx-icon></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>


            <div class="col-12 mb-1">

                <igx-combo class="combo" #cmbSubFamilia [data]="lstSubFamilia" valueKey="Codigo" displayKey="Codigo" id="cmbSubFamilia"
                    formControlName="cmbSubFamilia" placeholder="Seleccione una Sub Familia."
                    searchPlaceholder="Seleccione una Sub Familia..." [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings"
                    (selectionChanging)="V_Select_SubFamilia($event)" (keyup)="V_Enter_SubFamilia($event);">
                    <label igxLabel>Sub Familia</label>
                    <igx-prefix><i class="fa-solid fa-list"></i></igx-prefix>

                    <ng-template igxComboClearIcon>
                        <igx-icon></igx-icon>
                    </ng-template>
                </igx-combo>

            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-1">
                <div class="check">
                    <input type="checkbox" class="btn-check btn-negativo" id="btn-check-outlined" autocomplete="off">
                    <label class="btn btn-outline-primary btn-negativo-outline" for="btn-check-outlined">Negativos</label>
                </div>
                
            </div>
        </div>

    </form>

</div>

