
@import "/src/assets/scss/media.scss";

/*
.card-body{
  margin-bottom: 400px;
}
*/

.sucursal{
    font-weight: bold;
}

h4{
    text-align: center;


    span{
        color: var(--escan-primario);
    }
}


.ComboBodega {

    background-color: var(--escan-primario);
  
    i,
    label {
      color: white;
    }
  }
  

  
  ::ng-deep {
  
  
  
    .ComboBodega.igx-combo ::placeholder {
      color: white;
    }
  
    .ComboBodega.igx-combo:hover ::placeholder {
      font-size: 1.1em;
      font-weight: bold;
      color: white;
    }
  
    .ComboBodega .igx-input-group__input:focus,
    .ComboBodega .igx-input-group__input,
    .ComboBodega .igx-icon{
          color: white ;
      }
  

  
  }



  

  .contenedor-boton{
    display: flex;
    align-items: center;
    justify-content:right;
  
    button{
      font-size: 1.5em;
    }
  }


