
@import "/src/assets/scss/media.scss";

/*
.card-body{
  margin-bottom: 400px;
}
*/

.sucursal{
    font-weight: bold;
}

h4{
    text-align: center;


    span{
        color: var(--escan-primario);
    }
}


.ComboBodega {

    background-color: var(--escan-primario);
  
    i,
    label {
      color: white;
    }
  }
  

  
  ::ng-deep {
  
  
  
    .ComboBodega.igx-combo ::placeholder {
      color: white;
    }
  
    .ComboBodega.igx-combo:hover ::placeholder {
      font-size: 1.1em;
      font-weight: bold;
      color: white;
    }
  
    .ComboBodega .igx-input-group__input:focus,
    .ComboBodega .igx-input-group__input,
    .ComboBodega .igx-icon{
          color: white ;
      }
  

  
  }



  

  .contenedor-boton{
    display: flex;
    align-items: center;
    justify-content:right;
  
    button{
      font-size: 1.5em;
    }
  }


  .contenedor-Tooltip{
    .titulo{
      font-weight: bold;
      text-align: center;
    }
    .label_1{
      background-color: rgba(255, 69, 0, 0.6470588235294118);
      color: var(--escan-fondo);
      padding: 5px;
      margin-bottom: 5px;
    }
    .label_2{
      background-color: rgba(0, 157, 67, 0.6470588235294118);
      color: var(--escan-fondo);
      padding: 5px;
      margin-bottom: 5px;

    }

    span{
      padding: 10px;
      display: block;
    }
  }
