
@import "/src/assets/scss/media.scss";


.card-body{
  margin-bottom: 400px;
  height: 100%;
}

.sucursal{
    font-weight: bold;
}

h4{
    text-align: center;


    span{
        color: var(--escan-primario);
    }
}


.ComboBodega {

    background-color: var(--escan-primario);
  
    i,
    label {
      color: white;
    }
  }
  

  
  ::ng-deep {
  
  
  
    .ComboBodega.igx-combo ::placeholder {
      color: white;
    }
  
    .ComboBodega.igx-combo:hover ::placeholder {
      font-size: 1.1em;
      font-weight: bold;
      color: white;
    }
  
    .ComboBodega .igx-input-group__input:focus,
    .ComboBodega .igx-input-group__input,
    .ComboBodega .igx-icon{
          color: white ;
      }
  

  
  }
  

  #Charts_Venta_Neta{

    @include Tamano(xs) {
      transform: rotate(90deg);
      scale: (1.7);
      margin-top: 200px;
    }

    @include Tamano(md) {
      transform: rotate(360deg);
      scale: (1);
      margin-top: 0px;
    }

    @include Tamano(lg) {
      transform: rotate(360deg);
      scale: (1);
      margin-top: 0px;
    }

    
  
  }

  .contenedor-boton{
    display: flex;
    align-items: center;
    justify-content:right;
  
    button{
      font-size: 1.5em;
    }
  }

 


